## Build a simple trading strategy

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### add two columns (MA10, MA50)

In [2]:
fb = pd.DataFrame.from_csv('../data/facebook.csv')
fb.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

In [3]:
fb['MA10'] = fb['Close'].rolling(10).mean()
fb['MA50'] = fb['Close'].rolling(50).mean()
fb = fb.dropna()
fb.head()

,Open,High,Low,Close,Adj Close,Volume,MA10,MA50
Date,,,,,,,,
2015-03-13,22.559999,22.760000,22.250000,22.700001,22.116024,8982200,22.648,21.0174
2015-03-16,22.879999,23.110001,22.730000,22.969999,22.379078,5923900,22.685,21.0758
2015-03-17,22.920000,23.260000,22.760000,23.250000,22.651876,7497500,22.792,21.1382
2015-03-18,23.250000,23.370001,22.660000,22.870001,22.281652,10337600,22.836,21.1998
2015-03-19,22.950001,23.299999,22.780001,23.219999,22.622650,7768900,22.872,21.2804

### Add "Shares" column to make decisions base on the strategy

In [4]:
fb.shape

(731, 8)

In [5]:
fb['Share'] = [1 if fb.iloc[num,6] > fb.iloc[num,7] else 0 for num in range(len(fb))]

In [6]:
fb.head(20)

,Open,High,Low,Close,Adj Close,Volume,MA10,MA50,Share
Date,,,,,,,,,
2015-03-13,22.559999,22.760000,22.250000,22.700001,22.116024,8982200,22.648000,21.0174,1
2015-03-16,22.879999,23.110001,22.730000,22.969999,22.379078,5923900,22.685000,21.0758,1
2015-03-17,22.920000,23.260000,22.760000,23.250000,22.651876,7497500,22.792000,21.1382,1
2015-03-18,23.250000,23.370001,22.660000,22.870001,22.281652,10337600,22.836000,21.1998,1
2015-03-19,22.950001,23.299999,22.780001,23.219999,22.622650,7768900,22.872000,21.2804,1
2015-03-20,23.410000,23.610001,23.190001,23.469999,22.866215,11552100,22.964000,21.3670,1
2015-03-23,22.770000,23.070000,22.700001,22.709999,22.125767,10595700,22.974000,21.4240,1
2015-03-24,22.639999,22.799999,22.299999,22.400000,21.823744,8262000,22.914000,21.4732,1
2015-03-25,22.389999,22.389999,20.969999,21.040001,20.498730,13563800,22.730000,21.5002,1
2015-03-26,20.610001,21.059999,20.459999,20.969999,20.430529,7798000,22.560000,21.5264,1
2015-03-27,21.090000,21.459999,20.750000,21.379999,20.829983,7940200,22.428000,21.5592,1
2015-03-30,21.480000,21.580000,21.200001,21.469999,20.917669,6331300,22.278000,21.5966,1
2015-03-31,21.410000,21.430000,20.910000,20.930000,20.391560,8931900,22.046000,21.6160,1
2015-04-01,21.010000,21.080000,20.650000,21.010000,20.469501,8228300,21.859999,21.6358,1
2015-04-02,21.129999,21.190001,20.879999,21.059999,20.518215,4805100,21.643999,21.6510,0
2015-04-06,20.969999,21.740000,20.750000,21.670000,21.112526,12896600,21.464000,21.6714,0
2015-04-07,21.670000,22.100000,21.549999,21.860001,21.297634,10349100,21.379000,21.6944,0
2015-04-08,21.879999,22.100000,21.670000,22.020000,21.453518,9160800,21.341000,21.7224,0
2015-04-09,21.850000,22.600000,21.840000,22.530001,21.950401,9485800,21.490000,21.7804,0
2015-04-10,22.549999,22.770000,22.469999,22.760000,22.174480,6468200,21.669000,21.8494,0